[2013-05-25 19:40] HR opened #69 "Word Processor features"
Here are some features to work on.  Check when done:
- [x] Wordwrap: automatic arrangement of text in lines of specified length without the necessity of touching the return key.

- [ ] Discretionary Hyphenation: option of inserting a hyphen to break a word that ends a line:  the hyphen does not print if later editing moves the word to the middle of a line.

- [x] Justification: automatic alignment

[2013-05-25 19:42] ferndot commented on #69
AAHHH :fearful:, I mean, you will have to make icons for _most_ of these :tongue:

[2013-05-25 19:45] HR commented on #69
yup, I might try to find an icon set (with CC 3.0)

[2013-05-25 19:53] logan-r commented on #69
Isn't copy, cut, & paste implemented by default?

[2013-05-25 19:55] ferndot commented on #69
Not in gaia, I think we will need a clipboard permission.

[2013-05-30 07:52] HR opened #80 "Firetext Webapp"
Since we are planning to implement this on multiple platforms(Ubuntu OS, Android OS and even IOS), it is the best and easiest way to set firetext up as a mobile webapp. we've have http://codexa-firetext.appspot.com server that we can use. Then we can easily maintain and port to all platform. We'll then also have a more dynamic communication flow with http://dbstorage-firetext.appspot.com

What do

[2013-05-30 11:49] ferndot commented on #80
Are you meaning to change Firetext from a packaged app to a hosted app?  We can't do that on FxOS, because the storage APIs require it to be a packaged app.  But it would be good to host a copy (maybe using the File API instead of deviceStorage).

[2013-05-30 12:16] HR commented on #80
I'm talking about creating an infrastructure and a universal UI. When we create an infrastructure, we'll have the basic system configured however we will then adapt to the platform if needed for APIs such as on Firefox OS. And I'll start designing a mockup/template for a universal Firetext UI. We could use File API, but remember the main point of doing this is because it will save us a ton of work

[2013-05-30 12:55] ferndot commented on #80
Yes, that is a very good idea.  Can you design mockups for mobile (least features because of space problems), tablet (more features), and desktop (all features)?

[2013-06-11 19:02] ferndot commented on #80
Oops.

[2013-06-13 20:09] HR commented on #80
I am working on this now, gotta look at design patterns and enhancing UX

[2013-06-13 20:13] ferndot commented on #80
Great, with my recent work on File IO, we may eventually be able to use the same app globally (we just alter the UI for different screen sizes and OSs).  I can implement different APIs for file system management, and just select the supported one.

[2013-06-13 20:20] HR commented on #80
The UI will stay the same across all platform (like other apps(es) such as twitter) but mechanic with dealing File I/O based on platform will change. But there will still be one main web application of Firetext that will run hybridity (hlf native > File IO and half web app > client-server communication).

[2013-06-13 20:22] ferndot commented on #80
Also, in the future I am implementing Firebase.  Maybe this could be one of our first collaborative editing services?

[2013-06-13 20:26] ferndot commented on #80
About the UI.  We need a desktop UI and a mobile UI, they can't be the same on both desktop and mobile.

[2013-06-13 20:28] HR commented on #80
Obviously but the colour scheme has to stay consistent and the feel of it. What if we also name our collaborative network "Firebase" or can you think of something better.

[2013-06-13 20:30] ferndot commented on #80
Unfortunately, Firebase is already taken; it is a company :(

Otherwise...

[2013-06-13 20:33] HR commented on #80
Please think of a name

[2013-06-13 20:35] ferndot commented on #80
Will do :)

[2013-06-13 20:38] HR commented on #80
thanks

[2013-07-27 14:19] jackd1 commented on #80
I think, instead of loading separate apps, we could design the ui to adapt to the size of the screen, adding more features for larger screens and less features for smaller screens, we also need to support touch ans click events for all screen sizes to best support some newer screens that support touch, even cases where someone may be using both touch and the mouse.

[2013-07-27 18:21] ferndot commented on #80
@jackd1 you are perfectly correct, and if you take a look at the code, you will see that that is exactly what we are doing.  Now Android and other OSs that don't run native webapps may be a little different, or we may just create a modal for each that contains a rendering frame (or use XUL).

[2013-07-27 18:23] jackd1 commented on #80
Ok, great, sorry, still looking through the code.

[2013-07-27 18:26] ferndot commented on #80
np :wink:

[2013-07-27 18:56] HR commented on #80
We are looking forward to a hybrid app really in which the functionality is native

[2013-07-29 19:47] jackd1 commented on #80
So which apis are we using?  It looks like IndexedDB will provide the most support, the other option would be to use the FileSystem API.

[2013-07-29 20:28] HR commented on #80
Indexeddb to store metadata, commits, ciomments, account info ( incl.auth tokens, client id, etc) and other info for Fireanalytic as well as Firesearch user data (i.e. user pref). Filesystem API for IO operations (inlc. backup to cloud) and internal storage for documents.

[2013-07-29 20:32] jackd1 commented on #80
Ok, but what are we going to use for storing documents on devices other than FirefoxOS

[2013-07-29 20:50] HR commented on #80
All other system would also have similar Filesystem APIs we are going to write cross platform code so that it works on all Mobile OS(es). BTW we are going to make a real social network that is all about consumer cloud word processing and much more intuitive then Google docs or MS Word(will have more features). That we want to get at least basic word processing features.

[2013-07-29 21:16] HR commented on #69
Full list here: https://github.com/Codexa/Firetext/issues/106

[2013-08-05 19:59] HR opened #112 "Firetext Web App Development"
This is a continued from #80. This issue is rather a discussion about the infrastructure of the Firetext Web App that is going to lay out the blueprint for the final product. There are some initial decision or question that we need to address before further development:
What server-side language will we use for the Backend?(python, php, ruby or even javascript)
We are choosing **JavaScript**
What

[2013-08-15 22:42] HR opened #115 "Migrate to Node.js"
I think it would be best to use node.js (http://nodejs.org/) as the framework for the web app since it is a well supported framework for the industry and it will be an easy transition since it is essentially javascript.

[2013-08-15 22:43] HR commented on #112
For now we are choosing Node.js as our framework (#115)

[2013-08-16 11:51] ferndot commented on #112
I am assuming that Node.js will only be our framework on the web version.  Native apps will have to be plain javascript.

[2013-08-16 12:20] HR commented on #112
No, there are plenty of framework available that allow web apps to work in native environments

[2013-08-17 10:30] HR opened #116 "Web Views"
We have to create node views (layouts) using the node template engine **jade**(http://jade-lang.com/), we need the following views:
Drawer
Main
Edit Mode
Settings
Open/Create Doc
Auth views

[2013-08-17 10:56] ferndot commented on #116
I am developing this on Cloud 9.

[2013-08-17 11:23] HR commented on #116
ok, but let me just set up the workspace

[2013-08-17 11:25] ferndot commented on #116
Oh, I started already (yours wasn't cooperating).

https://c9.io/joshua-s/firetext

[2013-08-19 18:51] HR opened #118 "Implement: New Enhanced Editor Workspace"
This issue is explicitly for the new workspace integration

[2013-08-23 01:36] HR commented on #118
@joshua-s have you started this?

[2013-08-23 11:11] ferndot commented on #118
I will :)

[2013-11-01 13:47] joshua-s opened #140 "Localize Firetext"
Localizations are available at: https://www.transifex.com/projects/p/firetext

[2013-11-01 15:25] HR commented on #140
Firstly, where has FxOS been released?

[2013-11-01 15:28] ferndot commented on #140
I can't remember all the places off the top of my head, but I know it has been released in Poland, Spain, Venezuela?, Brazil, Africa (soon), and other emerging markets.

Currently, Firefox OS supports English, Spanish, and Portuguese (that's why I marked them critical).

[2013-11-01 16:49] logan-r commented on #140
Is this something that google translate could solve or do we need to get someone fluent in each language to translate it?

[2013-11-01 17:28] ferndot commented on #140
I was thinking of doing something like this: https://hacks.mozilla.org/2013/08/localizing-firefox-os-apps/.  And Google Translate is pretty good for short things, but when we get a community going, a real person would be best of course :)  Google Translate will have to do for now though.

[2013-11-01 23:07] jackd1 commented on #140
I may be able to help out with the Spanish translation, I'm in Hon. Spanish 2 at my school, so I can translate some simple to medium complexity parts.

[2013-11-04 01:33] ferndot commented on #140
Great @jackd1!

[2013-11-22 13:00] ferndot commented on #116
We don't need this bug to track anymore :)

[2013-11-22 21:02] HR commented on #116
No, we need this for the webapp

[2013-12-07 19:20] HR commented on #118
how is this going on @Joshua-S , finished?

[2013-12-09 00:04] ferndot commented on #118
Not yet, I want to ship a performance fix (0.3.1) ASAP.  I will push some changes to a new workspace branch soon.

[2013-12-23 20:59] ferndot commented on #118
Starting work on this!

[2013-12-23 21:27] HR commented on #118
:+1:

[2014-01-31 19:45] ferndot commented on #140
I am integrating l10n now :)

[2014-01-31 20:44] HR commented on #140
I'm fluent in german, so I can translate about any level of complexity

[2014-01-31 20:48] ferndot commented on #140
Please create a user on Transifex (https://transifex.com/)

[2014-01-31 21:07] HR commented on #140
Done, join in at https://www.transifex.com/projects/p/firetext/

[2014-01-31 21:10] HR commented on #140
we're at https://www.transifex.com/organization/codexa

[2014-01-31 22:13] ferndot commented on #140
Uhm...  Mozilla was creating a project for us.  That way, we would get more translators from the Mozilla localization team.

[2014-01-31 22:24] ferndot commented on #140
This is specifically a translation program.  But it would increase the publicity of the project.  Anyway, they can get it translated into a lot more languages than we can alone.

[2014-01-31 22:26] HR commented on #140
y, but can can you just do some PR and get some advocates to work on it?

[2014-01-31 22:31] jackd1 commented on #140
Btw, is this only for the app, or the website to?

[2014-01-31 22:34] ferndot commented on #140
@jackd1 this is for the app.  Mozilla has an apps translation program to expand developers' reach.

[2014-01-31 22:35] ferndot commented on #140
See: https://hacks.mozilla.org/2014/01/localizing-the-firefox-os-boilerplate-app/

[2014-01-31 22:39] jackd1 commented on #140
Ok, thanks.

[2014-02-01 17:06] ferndot commented on #140
Should be ready now!

[2014-02-01 17:16] jackd1 commented on #140
@Joshua-S Great :+1:

[2014-02-01 17:40] ferndot commented on #140
I am going to implement the language change function.  Also, a first time experience with languages.  The localization file is uploaded to Transifex (that work goes on separately).

[2014-02-02 22:12] ferndot commented on #140
Selection done here: https://github.com/Codexa/Firetext/commit/12cfb79b6a18395a31880b8953bd477ffc71f655!  Now, as soon as we get the languages, we can add them to the repo and enable the corresponding option.

[2014-02-03 22:06] bdcomp commented on #140
Hebrew translation almost done.

Although I am not sure how to translate string with html tags, as it's garbled while RTL...

[2014-02-03 22:19] ferndot commented on #140
@bdcomp: Thank you for your awesome work!  I will add you to the [credits page](http://firetext.codexa.org/community/credits/) soon (need to get it working with Transifex).  Also, we were not anticipating RTL languages when we initially coded Firetext.  I need to rework some of the CSS (#165).

About the html tags (I am assuming you mean the `<b>`'s).  You can leave them out if it doesn't work wit

[2014-02-06 19:47] HR commented on #118
When are you finishing with new UI?

[2014-02-06 21:06] ferndot commented on #140
Spanish (es) and French (fr) added in https://github.com/Codexa/Firetext/commit/3b87427334a88bc3cc79dbc2c7398b6d7695f8c2.  Please test to see that they read right!

I may need to do a few styling updates.

[2014-02-10 21:37] ferndot commented on #140
Hebrew (he) added!  Many thanks to @bdcomp and the other translators.

Note: Issue #165 needs to be fixed before shipping Hebrew.

[2014-02-19 20:41] ferndot commented on #140
Portuguese, Polish, and Czech are now finished.  I will add them soon!

[2014-02-24 07:22] bdcomp commented on #140
According to Mozilla [1], Firefox OS will expand this year to: Argentina, Costa Rica, Ecuador, El Salvador, Germany, Guatemala, Nicaragua, Panama, Croatia, Czech Republic, Macedonia and Montenegro.

To make sure we are ready to launch in this countries, please add the missing languages: Croatian, Macedonian and Serbian.

[1] https://blog.mozilla.org/blog/2014/02/23/firefox-os-unleashes-the-future-

[2014-02-24 11:44] Ryuno-Ki commented on #140
The Firefox OS is already available in Germany ;-)

Alcatel OneTouch Fire is shipped by Congstar (a subsidiary of Deutsche Telekom) here. Sadly, only Fx OS 1.1, since Alcatel opted to skip v1.2 (which blocks app development … but that's another topic).

[2014-02-24 12:41] ferndot commented on #140
@bdcomp done!  Thanks for researching this for us :)  By the way, I almost have RTL done for Hebrew.

@Ryuno-Ki aren't they going to ship with 1.3 eventually though?

[2014-02-24 12:43] ferndot commented on #140
We may be moving translations into a branch so we can ship them sooner than we were planning.

[2014-02-24 18:25] Ryuno-Ki commented on #140
@Joshua-S They do. But the [App Manager](https://developer.mozilla.org/en-US/Firefox_OS/Using_the_App_Manager) requires Firefox 26+ and Firefox OS v1.2+. As far as I know it replaced the Firefox OS Simulator.

[2014-03-06 15:04] ferndot commented on #140
Czech, Italian, Polish, and Portuguese (Brasil) were added in https://github.com/Codexa/Firetext/commit/3a66d09b45b50fead119b2314599c4e938d98bb8!

[2014-03-06 15:42] ferndot commented on #140
We are going to move the new languages into a branch so that it can be released along with a Hacks post this/next week!

[2014-03-06 16:21] ferndot commented on #140
Two more minor bugs, and we can ship!  The language branch is https://github.com/Codexa/Firetext/tree/0.3.2.

[2014-03-07 02:53] ferndot commented on #140
Fixed!  @bdcomp is it possible for you to take a brief look at RTL styling to make sure it's okay?  None of us know a RTL language, so it is a bit difficult.

You can download it to your computer and use the Tools > Web Developer > App Manager, or push it to a device, or use http://firetext.codexa.org/app in your web browser in Responsive Design Mode with Dropbox at 320x480px.

[2014-03-07 13:52] bdcomp commented on #140
@Joshua-S I tested the app on Firefox OS Simulator.
Beside my tiny translation change, Hebrew interface looks great.
Good job!

I am not sure how to create a new file on the Simulator (unknown error), so editing not tested.

[2014-03-07 14:01] ferndot commented on #140
@bdcomp thanks!  That unknown error is because the Simulator does not support DeviceStorage anymore, but `window.navigator.getDeviceStorage()` is still present.  That causes Firetext to think it exists, and error when trying to use it.

The Turkish issue was fixed in https://github.com/Codexa/Firetext/commit/ac7fd7c156180684c3905f0b88960a21e7291769.  Thank you for reporting that.

[2014-03-07 14:22] bdcomp commented on #140
@Joshua-S By "my tiny translation change" above, I mean the Hebrew translation I just updated.
Just to be sure you will pick it up before releasing 0.3.2

[2014-03-07 14:37] ferndot commented on #140
Will do!  Is it possible for you to review the changes so that I will receive the correct ones?  E.g. When I download the translation file, it might give me any of the possible translations for strings that aren't reviewed...

[2014-03-07 14:40] bdcomp commented on #140
Done.

[2014-03-07 15:07] ferndot commented on #140
Thanks!  I will upload the changes with the localized manifest.  Could you please post one more change to the manifest_properties resource?  (A translation for "The word processor for Firefox OS")

[2014-03-07 15:19] bdcomp commented on #140
Done!

[2014-03-07 16:17] ferndot commented on #140
The next version has been uploaded to the Marketplace, and is pending review.  Great job all :)

<b>(03/07/14) Update: </b>Firetext 0.3.2 is now publicly available!

[2014-03-10 22:09] ferndot commented on #140
A contributor on Transifex requested a Hindi (India) translation.  It has been added.

There is now a place on our [Credits Page](http://firetext.codexa.org/community/credits/) for localizers.  Thank you for all your hard work!  If you have contributed translations, and have not been added to the list, please tell me (we have to add people manually to it at this point, so I may have unintentionall

[2014-03-24 10:56] ferndot commented on #140
Bengali (Bangladesh), Chinese (China), and Dutch (all requested by contributors on Transifex) are now complete.  I will be uploading them soon.

[2014-05-08 19:09] ferndot commented on #140
Romanian (ro) was just added.  Thank you Cristian Silaghi!

[2014-05-08 19:10] ferndot commented on #140
Almost time for another language release...

[2014-07-09 18:25] Airon90 opened #177 "Firetext on Firefox OS Simulator 2.1 doesn't work"
Firetext on Firefox OS Simulator 2.1 doesn't work:
- Trying to access to a non-existing SD card it returns an error: TypeMismatchError
- Trying to create a document it returns an error: Unknown

See readme.md to get the simulator

[2014-07-09 18:26] airon90 commented on #140
As the Transifex account is open and information has been added in homepage, can we close this bug?

[2014-07-09 18:29] ferndot commented on #140
I was leaving this bug open as a tracker for new languages added.

[2014-07-09 18:38] ferndot commented on #177
This issue actually does not occur on a device, only the FF Simulator.  Although, if you could find the cause, we would be very thankful!

This bug may or may not be related: https://bugzilla.mozilla.org/show_bug.cgi?id=996619

[2014-07-09 18:42] ferndot commented on #177
[Update] Apparently the sdcard is emulated on the simulator, but since it is empty by default, we return an error.  I will look into the code (https://github.com/codexa/firetext/blob/develop/scripts/io.js).

It does work when the fake-sdcard directory (see the bug) has contents.

[2014-07-09 18:50] airon90 commented on #140
Ok, so you should add Esperanto (eo) ;)

[2014-07-09 18:53] airon90 commented on #177
I'm not worrying about SD emulation, I'm worrying about document creation! Did API changed from 1.x to 2.x?

[2014-07-09 20:20] ferndot commented on #140
Done!

[2014-07-09 20:52] ferndot commented on #177
It changed several times, but so did we...  This is definitely a strange issue because it works fine on a device running 2.1.

[2014-07-28 15:03] ferndot commented on #140
I am working on releasing an update containing the following locales:
- Bengali (Bangladesh)
- Chinese (China)
- Czech
- Dutch
- English (US)
- Esperanto
- French
- German
- Hebrew
- Indonesian
- Italian
- Polish
- Portuguese (Brazil)
- Romanian
- Russian
- Spanish

Note that soon we may not need to update every time locales are added.  Transifex Live will allow us to send new translations directl

[2014-08-25 13:45] joshua-s opened #185 "[Raw Editor] Preserve indentation"
Requested in https://marketplace.firefox.com/app/firetext/ratings/607453

We should preserve code indentation in the raw editor.  Not doing so (understandably) irritates developers.

[2014-09-15 14:33] joshua-s opened #189 "[Investigate] WebODF editor"
This issue is for research into using the WebODF (http://webodf.org/) editor in place of the browser-specific designMode editor.

I have heard that WebODF is very good with XML based languages, and it would be relatively trivial to add DOCX support as well as the integrated ODF support.

[2014-10-09 15:41] joshua-s opened #192 "[Editor] Implement better code editor"
We are in desperate need of a better code editor.

Potential editors:
- [Ace](http://ace.c9.io)
- [CodeMirror](http://codemirror.net/)

Feel free to suggest other editors.

[2014-11-07 18:35] twiss opened #206 "[desktop] Printing documents"
Currently, you can print a document by selecting everything (ctrl-a) first. It would be nice if printing worked without doing that.

[2014-11-07 18:46] ferndot commented on #206
This is an important feature for desktop.

There are several ways to address this issue:
- We could use https://developer.mozilla.org/docs/Web/API/window.print to trigger the print dialog on the iframe with the document's contents. The only caveat is that most browsers print meta information in the header of the document.
- We could cause the browser to download a pdf version of the file (after we

[2014-11-07 19:00] twiss commented on #206
Another idea is to try and use `media=print`/`@media print` to hide everything but the document. One problem with that is that it doesn't print the whole document, just the part that's visible. So you'd have to make all of it visible first.

[2014-11-07 20:19] twiss commented on #206
Calling `window.print()` from within the iframe in Chrome works fine, including metadata from the top iframe. In Firefox Nightly on linux it doesn't work in at least some cases, I'll see if I can file a bug with them.

[2014-11-07 20:29] ferndot commented on #206
In that case, this feature should be simple to solve. I think that we should wait to fix this until there is a plan in #203. What do you think?

[2014-11-08 00:48] twiss commented on #206
I've filed a bug in Firefox with details: https://bugzil.la/1095808

Only downside of `print()` versus `@media print` is that with the latter, selecting print from the browser menu also works. I guess though that a print button inside Firetext is more like what people expect. Also, we could intercept `ctrl-p`.

[2014-11-08 03:50] ferndot commented on #206
Thanks! It is definitely a Firefox on Linux issue because it works fine on OS X.

I would expect that as well. The print menu item connotes printing the entire page, not just the document. Also, keyboard shortcut interception will be a good feature in the future!

[2014-11-10 10:42] Ryuno-Ki commented on #206
When intercepting keys, please, bear in mind, that screenreader users depend heavily on them.

[2014-11-10 13:10] twiss commented on #206
Good point, I'll file some issues about that. Is `ctrl-p` something important in screenreaders (or elsewhere for that matter)?

[2014-11-10 17:44] Ryuno-Ki commented on #206
Umm, I assume not so. Orca didn't get it to upload their default keystrokes, so I have to dig into the code in order to extract them.

Meanwhile, I can point you to
- [keystrokes for JAWS](http://doccenter.freedomscientific.com/doccenter/archives/training/jawskeystrokes.htm)
- [keystrokes for NVDA](http://accessibility.psu.edu/nvda)
- [kesstrokes for VoiceOver](http://www.applevis.com/guides/voice

[2014-11-10 20:30] twiss commented on #206
Thanks a lot for those links! Just here is fine, I'll refer to them there.

[2014-11-10 22:45] Ryuno-Ki commented on #206
I discovered Orca being hosted on GitHub as well.

At first glance, I'd say, these files look promising:
- [keynames](/GNOME/orca/blob/master/src/orca/keynames.py)
- [laptop_keyboardmap](/GNOME/orca/blob/master/src/orca/laptop_keyboardmap.py)
- [desktop_keyboardmap](/GNOME/orca/blob/master/src/orca/desktop_keyboardmap.py)
- [common_keyboardmap](/GNOME/orca/blob/master/src/orca/common_keyboardmap.p

[2014-11-15 17:13] twiss opened #216 "[desktop] Uploading documents"
As mentioned in #203.

Ideally both a button and drag 'n drop, and only allow uploading file formats we support.

This also increases the importance IMO of fixing #108 and #16.

[2014-11-15 17:25] twiss opened #217 "[desktop] Downloading documents"
Similarly to uploading (#216).

The straightforward fix would be to offer downloading files in the format they're in, in addition to "print to pdf" which browsers offer (#206).

Additionally, we could offer some conversions. If we switch to WebODF (#189) as the default editor, Microsoft Word supports that too so converting isn't too important, I think. If we don't, (or maybe anyway) we should offe

[2014-11-19 01:26] ferndot commented on #216
Good idea! Should we implement this after #190?

[2014-11-19 01:27] ferndot commented on #217
The difficulty is that there are practically no usable client-side parsers for these formats. That is why we don't have support for them yet.

[2014-11-19 02:29] twiss commented on #217
That's unfortunate. For this particular issue we "need" to create them though, not parse them.

[2014-11-19 02:34] jackd1 commented on #217
Converting one way, from html to odt/docx is significantly simpler than parsing odt/docx to be edited, but it will still take a bit of time to implement.

[2014-11-19 15:10] twiss commented on #189
So, I've been trying out WebODF and as you know I do, I found some bugs. I don't want to drop all of them on the developers at once, but I've listed them in steno at https://gist.github.com/twiss/23f1cae09eab46202abc/efe3ccea8a515e97b6e7f2896131aa3d352b9c6d#file-todo-L164-L208.

Could you try out WebODF on Firefox OS? In particular, does backspace work?

[2014-11-28 16:11] twiss opened #225 "Chrome desktop hangs on generating document preview"
Chrome hangs at https://github.com/codexa/firetext/blob/87e5b12/scripts/firetext.js#L428 trying to generate a preview for relatively simple documents, e.g. (but not for documents even simpler):

    Hoi ik ben <b>Daniel</b>!<div>Test</div><div>Test</div><div>Test</div><div>Test</div><div>Test bladibla</div><div><br><br></div><div>Hoi,&nbsp;<i>ik</i>&nbsp;ben Daniel.</div>

I'm not sure why I've ne

[2014-11-28 17:06] ferndot commented on #225
Hmm, the preview generation code is quite complicated. I have actually toyed with the idea of removing it altogether (or at least rewriting it). My guess is that the text is so long that comparing it to a regular expression is simply too much for the JS engine.

[2014-11-28 17:26] twiss commented on #225
Alright. Alternatively, if I understand the current code correctly, you could do something like (not tested)

[code]

[2014-11-29 15:28] twiss opened #231 "Toolbar gets hidden on mouseenter in Firefox desktop"
As per your suggestion, split out of #195 since that morphed into a more general toolbar on the desktop bug.

Also, if possible it would be nice to solve this issue independently of #195, since the same problem happens when testing the mobile layout on a desktop.

[2014-11-29 16:06] twiss opened #232 "Autozen mode doesn't work on android"
This is not as simple as it looks, since we also sometimes open a document on startup without any user interaction (hence we can't enter fullscreen mode).

[2014-11-29 16:51] jackd1 commented on #232
Maybe if they are in autozen and a document opens on start up, make a popup to ask if they want to go in zen mode, then fire full screen after they hit ok.

[2014-11-29 19:46] joshua-s opened #234 "[proposal] Only use zen mode"
What if we removed support for the "normal" editing interface, and only used the zen mode interface (regardless of whether the app is in full-screen). I have already turned the default interface off by default, and IMO it uses too much screen space.

What are your thoughts?

[2014-11-29 21:53] twiss commented on #234
Well, non-zen mode shows the name of the document, and I would like to have renaming by clicking on that at some point.

What you could do is:
- On mobile, switch to zen mode whenever the editor is focused (i.e. when the keyboard is up). Remove the zen mode button.
- On desktop, leave it like it is, or remove the zen mode button (and thus the mode) there.
- Remove the autozen setting.

[2014-12-04 17:11] twiss opened #245 "Generate complete html files"
Including `<html><body>` boilerplate. Currently we generate html fragments.

That's after all what an `.html` file is. Also, we then have a logical place to put (if we want) the document's language, direction, charset, styles, page settings (#239), metadata, etc.

The logical way would be to put the document alone in an iframe (as opposed to in a `<div>`), but then we have to figure out where to p

[2014-12-04 23:16] ferndot commented on #245
:+1:!

I think that we should generate a complete html file on document creation, and leave opened files as-is. What do you think?

What about this strategy:
- Load document `<body>` into editor `<div>`
- Append any `<style>`s to editor `<body>`
- Parse additional `<head>` tags

[2014-12-05 13:40] Ryuno-Ki commented on #245
I wonder, how CodePen.io handle this …

[2014-12-07 03:39] joshua-s opened #251 "Improve no storage message"
When no available storage methods exist, we display an error banner. Instead, we could display a positive "Set up a storage system" message and button. The button would call `regions.nav('settings')`.

This would make it simpler for a new user to set up a storage.

[2014-12-09 11:08] safwanrahman commented on #251
Can you please provide the Steps to Reproduce? @joshua-s

[2014-12-09 13:00] twiss commented on #206
Another option is to `window.open()` the document.

Depending on how we implement that, that would allow the user to access their browser's print preview and page setup features (Firefox and IE, unlike Chrome have these separately from their `window.print()` popup).

The question then is whether we want that. Allowing access to page setup would make the most sense if the changes made there would h

[2014-12-09 13:58] ferndot commented on #251
1) Load Firetext in Firefox Nightly (https://github.com/codexa/firetext/wiki/Get-Coding#using-firefox-nightly)
2) Click the pen icon
3) There is a red, "no-storage-available" banner. (created by https://github.com/codexa/firetext/blob/develop/scripts/firetext.js#L260)

[2014-12-12 03:50] joshua-s opened #253 "[HTML editor] Move styles into an external file"
Styles like [this](https://github.com/codexa/firetext/blob/b01ad2e93bfa4588983bb3e665ece89b3e4b8bd7/modules/editor/scripts/editor.js#L39) could be moved into an external CSS file instead of being set by JS.

[2014-12-12 05:01] joshua-s opened #254 "[desktop] Declare media queries inside <link> tag"
It might be beneficial to include the desktop media query inside [the `<link>`](https://github.com/codexa/firetext/blob/b01ad2e93bfa4588983bb3e665ece89b3e4b8bd7/index.html#L78) instead of [its current location](https://github.com/codexa/firetext/blob/b01ad2e93bfa4588983bb3e665ece89b3e4b8bd7/style/desktop.css#L1).

It will make indentation less of a bother. I don't know if it has any current perfor

[2014-12-12 12:36] twiss opened #256 "Add undo and redo buttons"
Doesn't matter much on desktop, but maybe useful for mobile.

[2014-12-12 14:39] ferndot commented on #256
See https://developer.mozilla.org/docs/Web/API/document.execCommand#Commands for details.

[2014-12-12 15:17] ferndot commented on #234
What if we just had a "Rename document" item in the sidebar on mobile. And, included the filename at the top of the sidebar (E.g. "Editing foo.html")?

[2014-12-12 15:29] twiss commented on #234
Sure, and/or in the `<title>`, and/or you could just use the layout you proposed in #203 and show the first few letters of the title with an ellipsis.

[2014-12-12 19:35] joshua-s opened #258 "[desktop] UI"
(Split from #203)

Implement a usable and visually attractive interface for large devices.

Code is located in the [desktop-design](https://github.com/codexa/firetext/tree/desktop-design) branch. Feel free to assist!

[2014-12-12 20:08] ferndot commented on #258
@twiss: are the margin indicators required for the desktop design?

![screen shot 2014-12-12 at 3 08 04 pm](https://cloud.githubusercontent.com/assets/1479244/5418507/ae8906a6-823a-11e4-930d-2392a3e01fef.png)

[2014-12-12 20:12] twiss commented on #258
Yeah, because at some point we should increase the padding to match what comes out of a printer.

[2014-12-12 20:15] ferndot commented on #258
Ah, that makes sense.

[2014-12-12 20:28] Ryuno-Ki commented on #258
Isn't that printer dependent?

I remember having to fiddle around with LaTeX back then, to get the business cards look like I wanted them to (that is, match the cutting lines of that special paper …).

[2014-12-12 20:37] twiss commented on #258
It is, but you can give some hints to the browser about preferred page size and margins ([@page](https://developer.mozilla.org/docs/Web/CSS/@page), probably doesn't work perfectly though), which we then have to infer from the locale (#239). Another more reliable way would be to download a pdf (as per #206), then you have to select print twice though.

[2014-12-12 20:56] ferndot commented on #258
The second approach is what Google Docs does for Firefox.

[2014-12-14 03:06] ferndot commented on #234
This is the mobile UI changed by the new tab style in #258.

![screen shot 2014-12-01 at 03 03 17](https://cloud.githubusercontent.com/assets/1479244/5426249/c772c194-833d-11e4-83e3-22fd1fe50e04.png)

[2014-12-14 20:01] Ryuno-Ki commented on #234
Hm, WordPress has kind of Zen mode, too.
Here, the header and footer would disappear and only fade in, if the user scrolls.

[2014-12-14 21:25] ferndot commented on #234
@Ryuno-Ki because of the mobile screen constraints, do you believe that it would be beneficial to have that in "normal mode?" E.g. #260

[2014-12-14 21:38] Ryuno-Ki commented on #234
Dunno.

For me, I prefer writing/editing on a desktop. At least for the header I can imagine it may be beneficial (after optimising the transition speed and durance).

The footer should be more context sensitive, imho. That is, if I can mark (can I? Firefox OS didn't rolled that out, yet) text, then I may want to format it. Before that, I see no need in it.

[2014-12-14 21:54] ferndot commented on #234
@Ryuno-Ki that is a wonderful suggestion for the footer. The newer versions of Firefox OS now have text selection capabilities, and we could disable the feature on older versions.

[2014-12-14 22:18] Ryuno-Ki commented on #234
Glad to help :)

[2014-12-16 21:36] ferndot commented on #253
This will be fixed when #261 is merged.

[2014-12-18 03:13] joshua-s opened #264 "Chat room"
I have created a Gitter chat room so that we can easily have conversations: [![Gitter](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/codexa/firetext?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

Enjoy!

[2014-12-20 05:21] abhishekvp commented on #254
Submitted a pull request for this issue: https://github.com/codexa/firetext/pull/266

[2014-12-20 20:53] joshua-s opened #267 "Rich text in night mode"
Currently, we change the colors of rich text documents in night mode. Unfortunately, that destroys WYSIWYG. What should we do to rich text files in night mode?

A few possible approaches:
- Change document background and text colors (current functionality)
- Keep the document as it is (e.g. white background and black text by default)
- Invert the document (using CSS filters)

[2014-12-21 00:46] twiss commented on #267
I think it depends a little bit on what you're doing: (in order of likeliness to want night mode) reading, writing, or laying out a document.

That sounds like an improvement to what we currently have in some cases (e.g., when the document explicitly sets `color: black` for some text) but we probably shouldn't invert anything which has a color (link text, images). Another option is to convert (pos

[2014-12-24 16:35] ferndot commented on #245
CodePen packages the HTML inside the `<body>` of a template. I don't think that we want to do that.

[2014-12-29 04:06] ferndot commented on #256
I think these would be useful to show when the keyboard is active. What do you think about placing them next to the "hide keyboard" button?

[2014-12-29 04:12] ferndot commented on #251
@safwanrahman any luck reproducing this?

[2014-12-29 21:24] joshua-s opened #268 "Add "clear formatting" button"
Now that Firefox OS supports text selection, a "clear formatting" button makes sense. We could add it to the formatting dialog.

[2015-01-01 08:06] gbraad commented on #192
[CodeMirror](http://codemirror.net/) is another alternative which is very easy to implement

[2015-01-01 21:39] ferndot commented on #192
CodeMirror has many features, and performs about the same as Ace from my tests. So, the implementer can choose which to use.

Would you like to fix this issue? I can provide guidance.

[2015-01-02 14:19] twiss opened #269 "Handle manual file save errors"
We should notify when saving fails. Also, when saving on close (close file -> do you want to save -> yes) we shouldn't close the file if saving fails.

[2015-01-02 14:21] twiss opened #270 "Handle automatic file save errors"
We should have some sort of indication somewhere while autosaving fails.

[2015-01-02 14:25] twiss opened #271 "Clicking outside dialogs should close them"
It would be nice to be able to click outside a dialog to close the dialog.

[2015-01-03 03:56] #254 closed

[2015-01-03 23:56] joshua-s opened #272 "Refactor event handler"
For performance and security, we should get rid of the global event listeners in [firetext.js](https://github.com/codexa/firetext/blob/develop/scripts/firetext.js#L988-L1016).

@twiss and I discussed this on [Gitter](https://gitter.im/codexa/firetext) and propose that we create a new `interface.js` script that will manually add event listeners to interface elements, and then pass events to the `pr

[2015-01-05 11:58] Ryuno-Ki commented on #272
I'm curious, why global event listeners shall be a perf and security issue.
Have you something to read for me?

[2015-01-05 15:07] ferndot commented on #272
The security issue arises from our definition of the actions in the markup. E.g. [`data-click="nav" data-click-location="add"`](https://github.com/codexa/firetext/blob/develop/index.html#L121). It is basically a sneaky way of doing `eval()`.

Also, intercepting all `click`, `submit`, `keypress`, `mousedown`, `focus`, `blur`, or gesture events across the entire app has to hurt performance.

[2015-01-05 15:12] twiss commented on #272
(@joshua-s beat me to it :))

Delegated event handlers can in some cases be faster, because having many event handlers is slow and having one event handler (on the parent of those elements, say) is faster. However, if you put a delegated event handler on document (or html, or body) you have to check whether you're interested in the event every time the user does anything anywhere, which can be slo

[2015-01-05 15:24] ferndot commented on #272
@twiss I think that we would want to incur the CPU usage on listener creation. That way, we can get the brunt of it out of the way during the app's load stage and leave the app performant for interactions. It may not be a big deal on desktop, but I am sure that it will impact mobile.

[2015-01-05 15:32] twiss commented on #272
Yep, I agree, I only meant that testing is better than theory, in other words, does it _feel_ sluggish on some phones. However, the security reason alone is enough to do this, so no need to test this now IMO.

[2015-01-10 12:02] Ryuno-Ki commented on #272
Thank you for the information!

[2015-01-13 20:11] joshua-s opened #275 "Open source server-side code"
Since this is an open-source app, I should migrate the server-side code (e.g. authentication landing page) to GH Pages or another similar service.

[2015-02-01 16:40] twiss opened #276 "Document sanitization"
Spun out from #252 and #214.

This could look something like

- Parse the html
- Walk all elements and attributes and match them to a whitelist

The main difficulties are what to put in the whitelist, and performance (in the worst case we would be doing two unnecessary serialize -> parse steps).

[2015-02-05 03:27] ferndot commented on #275
Any idea where I could host these (php) files? Or, could I turn index.php into a json and just use pages?

[2015-02-05 03:33] ferndot commented on #275
I pushed the code to the [firetext/server](https://github.com/codexa/firetext/tree/server) branch.

[2015-02-05 04:31] #251 closed

[2015-02-05 04:35] ferndot commented on #232
This will be fixed by removing autozen in #274.

[2015-02-05 04:36] ferndot commented on #231
Is this an issue with #274? I cannot reproduce!

[2015-02-05 04:37] ferndot commented on #270
What about the status with a red message?

[2015-02-05 13:07] twiss commented on #231
Can't reproduce either; the toolbar never gets hidden on desktop.

[2015-02-05 13:07] #231 closed

[2015-02-05 14:15] #258 closed

[2015-02-05 14:16] ferndot commented on #232
Fixed!

[2015-02-05 14:16] #232 closed

[2015-02-05 14:17] ferndot commented on #234
Fixed by #274

[2015-02-05 14:17] #234 closed

[2015-02-05 14:21] ferndot commented on #253
Actually, it was fixed by both #261 and #274. Closing!

[2015-02-05 14:21] #253 closed

[2015-02-05 20:10] #264 closed

[2015-02-05 22:09] ferndot commented on #177
@Airon90, @twiss can you confirm that this is fixed?

[2015-02-05 22:32] twiss commented on #177
I can create a document now, but I can't open it for some reason. It gets to "Finished loading modules/editor/editor.html" but nothing happens on screen.

[2015-02-05 23:11] ferndot commented on #245
Fixed by #246!

[2015-02-05 23:11] #245 closed

[2015-02-06 19:25] joshua-s opened #278 "Edit code files"
We should allow the user to open any code file (we support anything that is plain text).

[2015-02-08 01:37] ferndot commented on #206
Fixed by #252

[2015-02-08 01:37] #206 closed

[2015-02-09 02:17] #216 closed

[2015-02-09 02:17] twiss commented on #217
Fixed by #277.

[2015-02-09 02:17] #217 closed

[2015-02-09 02:37] ferndot commented on #275
This is complete, although I would like to revisit hosting eventually.

[2015-02-09 02:37] #275 closed

[2015-02-10 03:01] #267 closed

[2015-02-10 05:11] ferndot commented on #189
We are using our own editor for now: #261

[2015-02-10 05:11] #189 closed

[2015-02-10 18:13] #192 closed

[2015-02-10 18:14] ferndot commented on #185
Fixed by #284

[2015-02-10 18:14] #185 closed

[2015-02-11 21:47] ferndot commented on #270
I think these are handled already, could you check?

https://github.com/codexa/firetext/blob/40460daadf497d367cfdbfc99b9a46041d390d5b/scripts/io.js#L545

[2015-02-13 13:22] airon90 commented on #177
I'm using latest Firefox OS 3.0 on Flame and I can create, edit and open both files, txt and html.

[2015-02-13 13:43] ferndot commented on #177
We never receive an `init-success` message: https://github.com/codexa/firetext/blob/f75859a7d368565432d637fc6cf2ef8417dc802c/scripts/firetext.js#L711 on the Simulator. I wonder what is preventing message passing?

[2015-02-13 15:59] twiss commented on #177
The scripts in the editor trigger `onerror`. I've pushed a solution which puts the script source inline to `simulator`, it's far from a pretty solution though.

[2015-02-13 19:24] joshua-s opened #287 "SDCard error should be handled properly"
When we receive the "Unable to get the space used by the SDCard: SecurityError" error, we should remove DeviceStorage from our list of available storage systems. It usually means that the user has denied the app permission to access the sdcard.

[2015-02-13 19:40] #287 closed

[2015-02-15 03:12] ferndot commented on #177
Can you make a PR please?

[2015-05-02 14:51] ferndot commented on #177
Hmm, Firetext works without any issues in the Firefox OS 3.0 Simulator.

[2015-05-27 23:29] twiss opened #300 "Simplify document lists"
Currently, the recent documents and all documents lists are duplicate and confusing to some.

My proposal would be to show one list with all documents from all sources mixed, sorted by last open date if known and last modification date otherwise. Dropbox documents would have a Dropbox icon. Optionally we could have a dropdown (setting) for alphabetic ordering. Then, either we remove the preview or

[2015-07-01 12:58] #271 closed

[2015-09-10 16:35] #177 closed

[2015-09-10 17:35] ferndot commented on #118
Implementation started: #312

[2015-09-13 04:26] joshua-s opened #318 "RTL layout in code editor is broken"
The code editor is nearly unusable in a RTL locale.

[2015-09-17 20:53] joshua-s opened #319 "Exclude styles from document preview"
Currently, document previews include the contents of `<style>` elements.

[2015-09-22 21:13] twiss commented on #319
Another way to fix this would be to actually render a small preview of the document.

[2015-09-23 03:26] ferndot commented on #319
That would be the best solution for all document types (we could get rid of the sanitation code). My only concern: we don't want to run this code on every enumeration. Could we cache the thumbnails somewhere?

[2015-10-17 03:15] #270 closed

[2015-10-23 19:27] joshua-s opened #326 "Font selector"
Allow the user to set the font of a selection.

[2015-10-25 11:15] #318 closed

[2015-11-02 15:03] #300 closed

[2015-11-02 15:03] #319 closed

[2015-11-02 18:20] twiss commented on #225
Closed by #320.

[2015-11-02 18:20] #225 closed

[2015-11-06 22:30] joshua-s opened #332 "Themes"
@Ryuno-Ki suggested that we could support different themes for Firetext's styles and icons. This would offer greater accessibility options and allow users to customize their experience.

How should we approach this feature? Should we offer an online theme store? I don't think that we want to bundle them.

[2015-11-06 23:29] Ryuno-Ki commented on #332
Thanks for opening a new ticket for it.

To me, I'd document the available classes and pick a style by assigning a class (_something-theme_) to body. Say, `<body class="high-contrast-theme">…</body>`. It's the designers obligation to wrap the rules under this "namespace".

Things to consider here:
- How to deal with naming conflicts (imagine two authors of "high-contrast-theme")
- How many `<link

[2015-11-13 01:57] #256 closed

[2015-11-13 02:33] #268 closed

[2015-11-14 14:22] #140 closed

[2015-11-22 03:07] #326 closed

[2015-11-22 20:44] Ryuno-Ki commented on #332
Hm, Maybe we could do it like [Macaw](/minego/macaw-enyo/) (storing that information in [prefs](https://github.com/minego/macaw-enyo/blob/ea4b98462d4d7bb38dda42796c53d3ed2293a27f/source/prefs.js) and applying [ui](https://github.com/minego/macaw-enyo/blob/ea4b98462d4d7bb38dda42796c53d3ed2293a27f/source/options/ui.js) information to it (look into the assets directory as well).

[2015-11-22 23:33] ferndot commented on #332
We could indeed imitate Macaw's implementation.

How could we avoid bundling themes? We can't use remote styles because of CSP. Should we download the stylesheet contents and save them in localStorage?

[2015-11-23 04:30] ferndot commented on #118
A new, more expandable toolbar was implemented. It followed different specs.

[2015-11-23 04:30] #118 closed

[2015-11-23 04:31] ferndot commented on #116
Closing because we aren't working on the node app anymore.

[2015-11-23 04:31] #116 closed

[2015-11-23 04:32] ferndot commented on #115
Closing because this is no longer in our plan.

[2015-11-23 04:32] #115 closed

[2015-11-23 04:33] ferndot commented on #112
This is not relevant anymore.

[2015-11-23 04:33] #112 closed

[2015-11-23 04:36] ferndot commented on #80
This is old and inactive.

[2015-11-23 04:36] #80 closed

[2015-11-23 04:41] ferndot commented on #69
Moved to #106

[2015-11-23 04:41] #69 closed

[2015-11-24 16:02] Ryuno-Ki commented on #332
I'd go for [Firefox OS Add-Ons](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Add-ons) (requires Firefox OS v2.5+).

IMHO for exploration, codexa should create a separate repo first. One could [git submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules) them into the project …

Let's look, whether there is interest from the community :-)

[2015-11-24 20:33] Ryuno-Ki commented on #332
Looking at the topic again without being in a hurry I want to carry out some points.

From what I have understood, CSP only affects JavaScript code. Regarding CSS I can only found inline styles (i.e. `style`-attribute and `<style>`-tags) being forbidden.

You can (partially) circumvent CORS restriction on Firefox OS by setting the [mozSystem-flag](https://developer.mozilla.org/en-US/docs/Web/API/X

[2015-11-24 23:08] ferndot commented on #332
We are a privileged app, so we cannot use remote stylesheets: https://developer.mozilla.org/en-US/Apps/Build/Building_apps_for_Firefox_OS/CSP#Applicable_CSP_Restrictions.

I concur about building this system in another repository. By doing so, we can test it independently and provide other developers with a theme library.

We could add alternate `<link>`s, but they must reference files in the app

[2015-11-25 12:47] Ryuno-Ki commented on #332
From the docs:

So you could fetch the stylesheet by AJAX and put the content into a `style` tag ;-) (And keep a copy in IndexedDB/localStorage/whatever - keep in mind, that there may be size limitations).

Can I mimick Privileged Apps in WebIDE?

[2015-11-25 22:03] ferndot commented on #332
Sounds good.

I can't recall whether the simulator enforces the packaged app csp. You could try adding a `csp` field to `manifest.webapp` that contains the default privileged csp: https://developer.mozilla.org/en-US/Apps/Build/Manifest#csp.

[2015-11-27 16:11] joshua-s opened #342 ".txt files do not save properly"
All line breaks are removed.

[2015-11-27 18:12] #342 closed

[2016-01-14 20:45] Ryuno-Ki opened #349 "Listing dependencies"
I just read [Eliminating Known Vulnerabilities With Snyk](https://www.smashingmagazine.com/2016/01/eliminating-known-security-vulnerabilities-with-snyk/) about [Snyk](https://snyk.io/) and tried to test Firetext for it. It reported Firetext not being a node project (which is correct, since there is no package.json).

Do you have 3rd party dependencies managed by bower or npm or that like? If yes,

[2016-01-14 21:17] HR commented on #349
Unfortunately not. @joshua-s we should use bower.

[2016-01-14 21:19] HR commented on #349
Also we could use npm + browserify without making it a Node.JS app for dependency management and usage.

[2016-01-15 20:55] Ryuno-Ki commented on #349
Or npm + webpack or that like.

I've seen a bunch of Front-End projects walking that way. Personally I use NPM for dep management, too.

If you stick to bower, that's fine. I'll look into adding support for it in SNYK, then ;-)

[2016-01-27 22:23] Ryuno-Ki commented on #332
For whatever reason I cannot launch Firetext v0.5.1 in Simulator (Timeout).

When I wait a bit longer, I can see the app, but cannot interact with files:

[code]

[2016-01-27 22:25] joshua-s opened #350 "Firetext 0.5.1 broken in simulator"
From @Ryuno-Ki:

[code]

We need to investigate and fix this issue.

[2016-01-27 22:26] ferndot commented on #332
@Ryuno-Ki thanks for the heads up. I have opened #350 for investigation into this issue.

[2016-01-27 22:28] Ryuno-Ki commented on #350
I used Firefox OS v1.3 as OS to simulate.

[2016-03-29 20:42] ferndot commented on #350
@Ryuno-Ki do you remember if all your submodules were up to date?

[2016-03-29 20:46] Ryuno-Ki commented on #350
I don't. How can I check? I didn't touched anything related since then.

[2016-03-29 21:23] ferndot commented on #350
I'd suggest pulling from `develop` and then running `git submodule update --init --recursive`. Then, you could check if Firetext still fails to run in the simulator.

It would also help to know which module `modules.js` was loading. You can retrieve that info easily by finding the last "Loading ..." message in the console.

[2016-03-29 22:33] Ryuno-Ki commented on #350
The simulator complains:

Opening a blank test.txt yields this in the browser console:

[code]

So, yes, still the same error in Simulator. Is it possible to persistent files there? I mean, without a "flash memory" …

It loads way faster!

[2016-03-30 00:03] ferndot commented on #350
Which simulator version are you using? I could not reproduce on 2.2.

I believe that the newer simulators persist files by saving them to folders in their profile directories.

[2016-03-30 19:30] Ryuno-Ki commented on #350
1.3 - in order to prove the behaviour described above (I assume, many early adopters will got stuck on v1.3. For example, have there been updates to Alcatel OneTouch Fires?).

I don't find an installed Firetext on v2.2 - the Rocket Launcher ("I'm looking for") suggests to _install_ Firetext (which doesn't have any effect either).

[2016-03-31 00:19] ferndot commented on #350
@Ryuno-Ki I am not able to reproduce either by pushing Firetext to the 1.3 simulator or by installing it from the marketplace. I suspect your installation of either Firetext or the simulator might be corrupted.

If you would like to try a re-installation, be my guest. If that is not the problem, I'd be interested to investigate further. Otherwise, this issue can be marked as WONTFIX since Firefox

[2016-03-31 20:46] Ryuno-Ki commented on #350
Mark it as WONTFIX and close the issue, please.

[2016-03-31 21:04] #350 closed

[2017-03-01 11:08] jhollingsworth opened #352 "OS Ticket - Theme not displaying data"
http://osticketthemes.com/

We have applied the theme from the above site to our OS Ticket setup.  All appears to be working okay, except we have had a report that when a customer logs on to the customer portal to check the ticket data, they are unable to view.  Unless the ticket is created automatically by email.  Any tickets created on the portal or by an agent do not display any of the data.

I

[2017-03-01 11:18] jhollingsworth commented on #352
apologies, I have posted this in the wrong area, if you can close.

[2017-03-01 11:18] #352 closed

[2017-10-12 23:35] joshua-s opened #353 "Run in electron (or similar)"
This project has been essentially on hold (except for the awesome fork running at [Airborn OS](airbornos.com)) since Firefox OS for smartphones was cancelled.

I believe that with some work, it could be transformed into quite a useful app for the desktop.

The first stage of this is to get it running on desktop. Is anyone interested in getting the app to run in Electron or something similar?

I am

[2017-10-13 16:22] parrajustin commented on #353
Hello joshua I was able to get firetext running in electron, with some modifications.

![image](https://user-images.githubusercontent.com/1360989/31555969-4f4760f6-b000-11e7-8885-e4594fa8ba5f.png)

I'm still trying to fix a bug with the localization, but I was wondering how should I contribute this? Do I push it to a new branch?

[2017-10-13 16:45] ferndot commented on #353
Hey @parrajustin this is great work 👍

You can push the fix to a new branch and then submit a PR once it is ready. We adhere to the Git Flow development pattern.

Thanks!

[2017-10-13 19:22] parrajustin commented on #353
@joshua-s for the PR what base branch do I use? On my fork I have an electron branch.

![image](https://user-images.githubusercontent.com/1360989/31562634-6a57397a-b019-11e7-9bef-2d15711da6e6.png)

[2017-10-13 21:31] ferndot commented on #353
@parrajustin please use our develop branch :)

[2017-10-16 20:17] ferndot commented on #353
This was fixed by @parrajustin!

[2017-10-16 20:17] #353 closed

[2017-10-18 02:56] joshua-s opened #356 "Porting to Aurelia."
I am considering porting the app to Aurelia + ESNext.

That will greatly simplify UI management and module management and also enable us to utilize the new functions in ESNext.

[2017-11-10 20:58] Ryuno-Ki commented on #356
I am following Aurelia from the beginning (i.e. after the renaming from Durandal).

In the beginning, the setup was quite hard (with System.js and stuff), but they released a CLI, which should ease things. On the other hand, when a framework needs a CLI it sounds way to complicated to me …

However, I really like, how Aurelia gets out of your way and let you write almost Vanilla JS. Not comparable

[2017-11-11 02:17] ferndot commented on #356
@Ryuno-Ki

Yeah it certainly has an interesting setup process. I really like the simplicity of working with views and the bidirectional binding.

Svelte looks like a better implementation of the jQuery API? Or is there something I am missing?

[2017-11-11 12:09] Ryuno-Ki commented on #356
Svelte is attempting to get rid of runtime frameworks by compiling everything ahead-of-time and spitting out Vanilla JS.
So you get the best of both worlds.
But you have to write code in a way that is statically analysable. The community is welcoming on Gitter.

[2017-11-14 09:12] ferndot commented on #356
@Ryuno-Ki thanks I will check it out!

[2017-11-15 22:13] Ryuno-Ki commented on #356
Lately, Aurelia [teasered a book on their blog](http://blog.aurelia.io/2017/11/12/projects-that-make-aurelia-shine/) about projects, which are a good fit for it. One is „An office style application (such as Google Docs)”, which could fit to firetext quote well. I haven't ordered the book (yet).

Please blog about your experience with it :)

[2017-11-15 22:28] ferndot commented on #356
@Ryuno-Ki sure thing!